@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import "tailwindcss";

#root {
  scroll-behavior: smooth;
  --background: 0, 0%, 90%;
  --color-text: 0, 0%, 11%;
  --primary: 23, 100%, 50%;

  background: hsl(var(--background));
}

.light {
  --primary: 23, 100%, 50%;
  --background: 0, 0%, 90%;
  --text: 0, 0%, 11%;

  background: hsl(var(--background));
}

.dark {
  --primary: 234, 100%, 50%;
  --background: 0, 0%, 3%;
  --text: 0, 0%, 90%;

  background: hsl(var(--background));
}

body {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

.nav-icon {
  @apply w-6 h-6;
}

.nav-div {
  @apply flex justify-center space-x-5 border-2 rounded-full;
}

.hero-text {
  @apply sm:text-4xl text-2xl font-medium text-left;
}

.lexend-giga-google {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bento-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 80%;
  max-width: 1500px;
  max-height: 2000px;
  margin: 0 auto;
}

.bento-item {
  background: white;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgba(27, 27, 27, 0.986);
  min-height: 200px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bento-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Different sizes for each card */
.item1 {
  grid-row: span 4;
  background-color: #fdeeea;
}

.item2 {
  grid-row: span 10;
  background-color: #f4a261;
}

.item3 {
  grid-row: span 10;
  background-color: #e76f51;
}

.item4 {
  grid-row: span 3;
  background-color: #f4a261;
}

.item5 {
  grid-row: span 5;
  background-color: #ffffff;
}

.item6 {
  grid-row: span 3;
  background-color: #e76f51;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}